.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
docs/
**.idea/
frappoint/www/frappoint
frappoint/www/booking_desk
frappoint/www/portal
frappoint/public/booking_desk
frappoint/public/portal
frappe-semgrep-rules/
